.rowContainer {
    width: 100%;
    overflow: hidden;
    margin-bottom: 1rem;
    height: 17rem;
}

.staticRow {
    display: flex;
    gap: 1rem;
    height: 15rem;
}

.scrollLeftRow {
    animation: scrollLeft var(--slideshow-speed, 40s) linear infinite;
    will-change: transform;
}

.scrollRightRow {
    animation: scrollRight var(--slideshow-speed, 40s) linear infinite;
    will-change: transform;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0) translateZ(0);
    }

    100% {
        transform: translateX(calc(-1 * var(--translate))) translateZ(0);
    }
}

@keyframes scrollRight {
    0% {
        transform: translateX(calc(-1 * var(--translate))) translateZ(0);
    }

    100% {
        transform: translateX(0) translateZ(0);
    }
}
